
header {
    .header-image {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1, p, a, i {
            color: white;
        }

        .header-wrapper {
            h1 {
                font-size: 4rem;
                padding-top: 40vh;
                // margin-block-start: 0;
                // margin-block-end: 0;
            }
            p {
                font-size: 1.5rem;
                letter-spacing: .08rem;
                margin-top: 30px;
            }
        }
    
        .scrolldown-wrapper {
            margin-top: auto;
            margin-bottom: 15px;
            a {
                text-decoration: none;
                font-size: 1.2rem;
                i {
                    margin-top: 10px;
                }
            }
        }
    }
}

