
header {
    padding-top: 42px;
    padding-bottom: 41px;
    text-align: center;
    border-bottom: $nav-border;

    h1 {
        //height: 100px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: normal;
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }
}

#main-header {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 40;
    border: none;
    .header-image {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1, p, a, i {
            color: white;
        }

        .header-wrapper {
            h1 {
                font-size: 4rem;
                padding-top: 40vh;
            }
            p {
                font-size: 1.5rem;
                letter-spacing: .08rem;
                margin-top: 30px;
            }
        }
    
        .scrolldown-wrapper {
            margin-top: auto;
            margin-bottom: 15px;
            a {
                text-decoration: none;
                font-size: 1.2rem;
                i {
                    margin-top: 10px;
                }
            }
        }
    }
}

