
main {
    #to-top {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
        p {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }

    article {
        @include centre;
        max-width: 700px;
        margin-top: 50px;
        padding: 10px 30px;
        background-color: #bac38c;
        border-radius: 15px;
        width: 100%;
    }
}

#main-page-main {
    background-color: white;
}