
a {

}

.btn {
    text-decoration: none;
    text-align: center;
    height: auto;
    width: fit-content;
    line-height: 35px;
    border: 2px solid $base;
    border-radius: 6px;
    color: $base;
    padding: 8px 50px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: $base;
    color: white;
}